* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper,
.custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper.none {
    display: none;
}

.custom marquee {
    color: #000 !important;
}

.wrapper2 {
    display: none;
}

body.show .wrapper2 {
    display: block;
}
#btnNo{
    position: absolute;
    top:120px;
}
button {
    transition: .2s;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    z-index: 1000;
}

button:hover {
    background: #03A9F4 !important;
    color: white !important;
    cursor: pointer;
}